<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista To-Do</title>
</head>
<body>
    <h1>Lista zadań</h1>

    <ul>
        {% for task in todo_list %}
            {% set idx = loop.index0 %}
            <li>
                {% if task.done %}
                    <s>{{ task.task }}</s> <!-- Przekreślenie ukończonego zadania -->
                {% else %}
                    {{ task.task }}
                    <a href="{{ url_for('complete_task', task_id=idx) }}">Oznacz jako ukończone</a>
                {% endif %}
                <!-- Przycisk usuwania zadania -->
                <a href="{{ url_for('delete_task', task_id=idx) }}">Usuń</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Dodaj nowe zadanie</h2>
    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task" placeholder="Wprowadź zadanie" required>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>
